body{
    background-color: rgb(249, 235, 235);
    color: rgba(58, 18, 95, 0.694);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(42, 39, 42);
    padding: 20px;
    font-size: 32px;
    border-bottom: solid 2px rgb(42, 39, 42);
}

section{
    background-color: rgb(226, 173, 108);
}