body{
    background-color: rgb(249, 235, 235);
    color: rgba(58, 18, 95, 0.694);
    margin: 0px;
    font-family: "Itim", cursive;
}

header{
    border-bottom: solid 2px rgb(42, 39, 42);
    padding: 20px;
    font-size: 32px;
    border-bottom: solid 2px rgb(42, 39, 42);
}

.chamada{
    background-color: burlywood;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(53, 7, 53);
}

.categoria h2 {
    color: rgb(203, 145, 68) (42, 122, 228);
}